# Test resultaten

Chamilo offers handy support for analyzing test results simply by clicking on the _Results_ icon ![](../../.gitbook/assets/graphics156%20%281%29.png), displayed to the right of each test listed in the main Tests page.

![](../../.gitbook/assets/graphics161%20%281%29.png)

Illustration 65: Exercises - List

This will display a page listing all the results for the relevant test.

![](../../.gitbook/assets/graphics162%20%281%29.png)

Illustration 66: Exercises – Results list

Here, the teacher can get an overview of learners' times and scores, and can score ![](../../.gitbook/assets/graphics160%20%281%29.png) or edit ![](../../.gitbook/assets/graphics163%20%281%29.png) open questions and offer feedback. He can also delete ![](../../.gitbook/assets/graphics164%20%281%29.png) a test attempt to allow the learner to do the test again \(if there is a valid reason to do so e.g. there was an error in the test\).

The menu bar of this page allows the teacher to navigate back ![](../../.gitbook/assets/graphics165%20%281%29.png) to the test , export test results in CSV or XLS format ![](../../.gitbook/assets/graphics166%20%281%29.png) \(e.g. to sort them and generate graphical evaluation statistics\), view statistics ![](../../.gitbook/assets/graphics169%20%281%29.png) about test questions undertaken or even monitor students taking the test “live” ![](../../.gitbook/assets/graphics168%20%281%29.png)to know how they are performing “during” the exam \(particularly useful to monitored exam centers\).

