# Testergebnisse

Chamilo bietet praktische Unterstützung für die Analyse von Testergebnissen, indem Sie einfach auf das _Results_-Symbol ![](../../.gitbook/assets/graphics156.png) klicken, das rechts neben jedem Test auf der Hauptseite Tests angezeigt wird.

![](../../.gitbook/assets/graphics161.png)

_Illustration 65: Übungen - Liste_

Dadurch wird eine Seite angezeigt, auf der alle Ergebnisse für den relevanten Test aufgeführt sind.

![](../../.gitbook/assets/graphics162.png)

_Illustration 66: Übungen — Ergebnisliste_

Hier kann sich der Lehrer einen Überblick über die Zeiten und Ergebnisse der Lernenden verschaffen und ![](../../.gitbook/assets/graphics160.png) bewerten oder offene ![](../../.gitbook/assets/graphics163.png) Fragen bearbeiten und Feedback geben. Er kann ![](../../.gitbook/assets/graphics164.png) auch löschen, einen Testversuch, der es dem Lernenden ermöglicht, den Test erneut durchzuführen \(wenn es einen triftigen Grund dafür gibt, zB ein Fehler im Test aufgetreten\).

Die Menüleiste dieser Seite ermöglicht es dem Lehrer, ![](../../.gitbook/assets/graphics165.png) zum Test zurückzukehren, Testergebnisse im CSV- oder XLS-Format zu exportieren ![](../../.gitbook/assets/graphics166.png) \(z. B. um sie zu sortieren und grafische Auswertungsstatistiken zu erstellen\), Statistiken ![](../../.gitbook/assets/graphics169.png) über unternommene Testfragen anzuzeigen oder sogar Schüler zu überwachen, die test “live” ![](../../.gitbook/assets/graphics168.png)to wissen, wie sie die Prüfung “during” ausführen \(besonders nützlich für überwachte Prüfungszentren\).