# Test resultaten

Chamilo biedt handige ondersteuning voor het analyseren van testresultaten door simpelweg op het pictogram _Resultaten_ te klikken ![](../../.gitbook/assets/graphics156%20%281%29.png), rechts van elke test weergegeven op de hoofdpagina Tests.

![](../../.gitbook/assets/graphics161%20%281%29.png)

Afbeelding: Oefeningen - lijst

Hierdoor wordt een pagina weergegeven met alle resultaten voor de relevante test.

![](../../.gitbook/assets/graphics162%20%281%29.png)

Afbeelding: Oefeningen - Resultatenlijst

Hier kan de docent een overzicht krijgen van de tijden en scores van de leerlingen en kan hij scoren ![](../../.gitbook/assets/graphics160%20%281%29.png) of bewerken ![](../../.gitbook/assets/graphics163%20%281%29.png) open vragen en geef feedback. Hij kan ook verwijderen ![](../../.gitbook/assets/graphics164%20%281%29.png) een testpoging om de leerling de test opnieuw te laten doen \(als er een geldige reden is om dit te doen, bijvoorbeeld als er een fout is opgetreden in de test\).

Via de menubalk van deze pagina kan de docent terug navigeren ![](../../.gitbook/assets/graphics165%20%281%29.png) testresultaten exporteren in CSV- of XLS-indeling ![](../../.gitbook/assets/graphics166%20%281%29.png) \(bijv. om ze te sorteren en grafische evaluatiestatistieken te genereren\), statistieken bekijken ![](../../.gitbook/assets/graphics169%20%281%29.png) over gemaakte testvragen of zelfs het volgen van studenten die de test 'live' afleggen ![](../../.gitbook/assets/graphics168%20%281%29.png) om te weten hoe ze presteren "tijdens" het examen \(vooral handig voor gecontroleerde examencentra\).
